name: Build ZenSei APK
on:
  push:
    branches: [ main, master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # The "Container" Action.
      # It downloads a pre-made computer with all Android tools installed.
      # It creates the APK without asking for licenses.
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          workdir: .
          buildozer_version: stable

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: zensei-package
          path: bin/*.apk
          
